@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background: linear-gradient(
    135deg,
    #f0f0f0, #e9e9e9, #e0e0e0, #d7d7d7
  ); */
  background: #f0f0f0;
  margin: 0;
  scrollbar-width: none;
  min-width: 350px;
}

.card {
  background: #f0f0f0;
  border: #ffffff;
  box-shadow: 5px 5px 5px #dddddd, -5px -5px 5px #ffffff;
}

.inset-card {
  background: #f0f0f0;
  box-shadow: inset 5px 5px 5px #dddddd, inset -5px -5px 5px #ffffff;
}

.footer {
  background: #e9e9e9;
  box-shadow: inset 5px 5px 5px #dddddd;
}

.led-light {
  box-shadow: inset 2px 2px 4px #dadada, inset -1px -1px 1px #ffffff,
  2px 2px 4px #dadada, -1px -1px 1px #ffffff;
}

@media (max-width: 768px) {
  .led-light {
    box-shadow: none
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Main screen styling */
.crt-screen {
  position: relative;
  background: linear-gradient(0deg, #1c1c1c, #1f1f1f, #1c1c1c);
  border: 2px solid #d7d7d7;
  backdrop-filter: blur(10px);
  box-shadow: inset 0 0 10px #d7d7d7, 0 0 10px #d7d7d7;
}

/* Gradient overlay for screen curvature effect */
.crt-screen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff0f;
  filter: blur(10px);
  border-radius: 100px;
}
